@{
    ViewData["Title"] = "GameSalad | Games";
}

<h2> Pick a game! </h2>

<ul>
    <a href="@Url.Action("TwentyFortyEight", "Games")">
        <li>2048</li>
    </a>
    <a href="@Url.Action("TicTacToe", "Games")">
        <li>Tic-Tac-Toe</li>
    </a>
</ul>

<p>
    <i>I know the selection is kind of small. Sorry.</i>
</p>
