:root
{
    --main-bg-color: #333;
    --main-border-color: #8c3;
    --main-fg-color: #cc8;
}

body
{
    background: black;
    color: var(--main-fg-color);
    padding: 16px;
}

header
{
    display: flex;
    margin-bottom: 30px;
}

header .logo
{
    height: 150px;
    width: 300px;
    margin: auto 20px;
    border: 2px solid var(--main-border-color);
}

header nav
{
    flex: auto;
}


.menu
{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.menu li
{
    list-style: none;
    padding: 10px 20px;
    margin: 5px;
    background: var(--main-bg-color);
    border: 2px solid var(--main-border-color);
}

.menu a
{
    text-decoration: none;
    color: var(--main-fg-color);
}

.menu .filler
{
    flex: auto;
}


.inline_block
{
    display: inline-block;
}

.border
{
    border: 2px solid var(--main-border-color);
    border-radius: 7px;
    padding: 5px;
}

.flex_container
{
    display: flex;
}

.flex_container > *
{
    flex: 1;
    margin: 5px;
}


.center_content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset
{
    border-color: var(--main-border-color);
    border-radius: 12px;
    padding: 5px 12px 10px 12px;
}

input, button
{
    border-color: var(--main-border-color);
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}


